*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
coverage_html_report
.tox
nosetests.xml

# Duplicate report
*output.html

# pylint report
pylint*

# Mr Developer
.mr.developer.cfg
.project
.pydevproject